<h1>New Travelers</h1>

<%= form_for :traveler, url: travelers_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :email %><br>
		<%= f.text_field :email %><br>
	</p>

	<p>
		<%= f.label :phone %><br>
		<%= f.text_field :phone %>
	</p>

	<p>
		<%= f.label :destination %><br>
		<%= f.text_field :destination %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>