<!DOCTYPE html>
<html>
<head>
  <title>Ghanago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<span id="logo"> 
			<%=image_tag("ghanago.jpg")%>
		</span>
	</header>
	<%= yield %>

	<footer>
		<a href='/travelers/new'>Register for personalized travel information!</a>
	</footer>
</body>
</html>
